.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.pagination a.active {
    font-weight: bold;
}